{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
